---
layout: default
---

<div class="home">
<div class="banner">
    <img src="assets/images/header.png" />
</div>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default:"THE GUIDE"}}</h2>
    <div class="post-container">
      {%- for post in site.posts -%}
      <div class="post-card">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {{ post.card-description | escape }}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
    </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>
